<div class="container-fluid p-0">
  <header class="header-outer">
    <div class="header-inner responsive-wrapper">
      <div class="header-logo">
        <img src="assets/images/logo.png"
             class=""
             alt=""
             width="75"
             loading="lazy"/>
      </div>
      <nav class="header-navigation">
        <a href="#" class="">Products</a>
        <a href="#" class="">Solutions</a>
        <a href="#" class="">Pricing</a>
        <a href="#" class="login-button">Login</a>
        <a href="#" class="get-started-button ">Get Started</a>
        <button>Menu</button>
      </nav>
    </div>
  </header>

  <main class="main">
    <div class="main-content responsive-wrapper">
      <div class="left-section"></div>

      <div class="text-container"></div>

      <div class="line-section"></div>

      <div class="center-section"></div>

      <div class="container-section"></div>

      <div class="right-section"></div>

      <div class="eligibility-section">

        <div class="eligibility-calculator">
            <div class="panel-header">Eligibility Calculator</div>
            <div class="panel-body">

              <div class="range-container my-4">
                <span class="mb-2">Monthly Income</span>
                <p><img src="assets/images/currency-inr.png">15,00,000</p>
                <input type="range" name="range" id="range" min="0" max="100" />

                <span class="c-light-grey"><img src="assets/images/currency-inr.png">50,000</span>
                <span class="c-light-grey float-right">300000</span>

                <!-- <label for="range">50</label>-->
              </div>

              <div class="range-container my-4">
                <span>Monthly Expense</span>
                <p><img src="assets/images/currency-inr.png">100000</p>

                <input type="range" name="range" id="range" min="0" max="100" />
              </div>

              <div class="form-group my-4 pb-4">
                <span>Repayment Tenure</span>
                <select class="form-control">
                  <option>6 Months</option>
                </select>
              </div>


              <div class="form-group my-4 pb-4">
                <span>Do you have any existing loans?</span>
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
              </div>


              <div class="form-group pb-4">
                <label for="usr">EMI of existing loan (optional)</label>
                <input type="text" class="form-control" id="usr"
                       value="15,000">
              </div>
            </div>
        </div>

        <div class="eligibility-amount">

          <div class="eligibility-section-container my-4 py-4">
            <div class="text-section text-center my-4 pt-2">
              <span class="">Loan Amount</span>
              <p><img src="assets/images/currency-inr-white.png">10,000</p>
            </div>

            <div class="text-section text-center my-4">
              <span class="">Your EMI Amount will be</span>
              <p><img src="assets/images/currency-inr-white.png">15,000</p>
            </div>

            <div class="text-center  my-4">
              <a class="login-button">GET MONEY</a>
            </div>
          </div>

        </div>

      </div>

      <div class="account-section-right"></div>


      <div class="bottom-section"></div>

      <div class="">
        <div class="card-left-section panel-on-hover"></div>

        <div class="image-section"></div>

        <div class="header-text">
          <p>Quick cash disbursement</p>
        </div>

        <div class="header-text">
          <span>Get terms loans that your business needs within 72 hrs</span>
        </div>
      </div>

      <div class="">
        <div class="card-left-section-bottom panel-on-hover"></div>

        <div class="image-section-middle"></div>

        <div class="header-text-bottom">
          <p>Low-interest rate</p>
        </div>

        <div class="header-text-bottom">
          <span>Achieve your financial goals with an amazing interest rate starting at 13% per annum</span>
        </div>
      </div>


      <div class="">
        <div class="card-left-section-end panel-on-hover"></div>

        <div class="image-section-end"></div>

        <div class="header-text-end">
          <p>Low-interest rate</p>
        </div>

        <div class="header-text-end">
          <span>Achieve your financial goals with an amazing interest rate starting at 13% per annum</span>
        </div>
      </div>

      <div class="panel-on-hover">
        <div class="card-section-middle"></div>
        <div class="image-section-middle-container"></div>

        <div class="header-text-end-middle">
          <p>Low-interest rate</p>
        </div>

        <div class="header-text-end-middle">
          <span>Achieve your financial goals with an amazing interest rate starting at 13% per annum</span>
        </div>
      </div>


      <div class="">
        <div class="card-section-middle-end panel-on-hover"></div>
        <div class="image-section-middle-end"></div>

        <div class="header-text-middle">
          <p>Low-interest rate</p>
        </div>

        <div class="header-text-middle">
          <span>Achieve your financial goals with an amazing interest rate starting at 13% per annum</span>
        </div>
      </div>

      <div class="text-display-section"></div>

      <div class="text-diaplay-line"></div>

      <div class="loan-text"></div>

      <button class="start-button">Get an Open Account</button>

    </div>
  </main>

</div>
