/* You can add global styles to this file, and also import other style files */


@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

body {
  font-family: "DM Sans", sans-serif;
  /*background: #FCFCFF 0% 0% no-repeat padding-box;;*/
  line-height: 1;
  min-height: 300vh;
  position: relative;
}

.responsive-wrapper {
  width: 100%;
  /*max-width: 1280px;
  margin-left: auto;
  margin-right: auto;*/
}

/* Sticky header */
.header-outer {
  /* Make it stick */
  height: var(--header-outer-height);
  position: sticky;
  top: calc(
    var(--header-height-difference) * -1
  ); /* Multiply by -1 to get a negative value */
  display: flex;
  align-items: center;

  /* Other */
  background: #FCFCFF 0% 0% no-repeat padding-box;
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
  z-index: 9999;
}

.header-inner {
  /* Make it stick */
  height: var(--header-inner-height);
  position: sticky;
  top: 0;

  /* Other */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling of other elements */
.header-logo img {
  display: block;
  /* height: calc(var(--header-inner-height) - 15px);*/
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
}

.header-navigation a,
.header-navigation button {
  font-size: 25px;
  margin-left: 1.75rem;
  position: relative;
  letter-spacing: 0px;
}

.header-navigation a {
  font-size: 25px;
  color: #222222;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex !important;
}


.header-navigation button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
  transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

.main {
  margin-top: 3rem;
}

.widget {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
  background-color: #fff;
  padding: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}

.widget > * + * {
  margin-top: 1.25em;
}

.widget h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

.widget code {
  display: inline-block;
  padding: 0.125em 0.25em;
  border-radius: 2px;
  background-color: #bee5d3;
}

.widget strong {
  font-weight: 700;
}

@media (min-width: 800px) {
  .header-navigation a {
    display: inline-block;
  }

  .header-navigation button {
    display: none;
  }
}

.hover-cursor{
  cursor: default;
}
.login-button{
  width: 118px;
  height: 45px;
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  color: #663399 !important;
  background-color: #ffffff;
  border-radius: 24px;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
}

.login-button :hover{
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
}

.get-started-button{
  width: 166px;
  height: 45px;
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000033;
  border-radius: 24px;
  opacity: 1;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
}

.container-fluid{
  top: 0px;
  left: 0px;
   width: 1920px;
   height: 2145px;
  background: #FCFCFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.left-section{
  top: 213px;
  left: -179px;
  width: 571px;
  height: 572px;
  background: transparent url('assets/images/blob-small.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.center-section{
  top: 466px;
  left: 136px;
  width: 652px;
  height: 365px;
  background: transparent url('assets/images/collect_img-video.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.right-section{
  top: -227.9068603515625px;
  left: 714px;
  width: 1183px;
  height: 1192px;
 /* transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);*/
  background: transparent url('assets/images/circle.png') 0% 0% no-repeat padding-box;
  opacity: 0.5;
  position: absolute;
  float: right;
}

.container-section{
  top: 796px;
  left: 462px;
  width: 430px;
  height: 70px;
  opacity: 0.5;
  background: transparent url('assets/images/accounting_dots.svg') 0% 0% no-repeat padding-box;
  position: absolute;
}

.text-container{
  top: 270px;
  left: 189px;
  width: 407px;
  height: 98px;
  background: transparent url('assets/images/We make it Super Sim.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.line-section{
  top: 376px;
  left: 192px;
  width: 236px;
  height: 8px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
  position: absolute;
}

.eligibility-section{
  top: 270px;
  left: 1100px;
  width: 688px;
 /* height: 675px;*/
  opacity: 1;
  position: absolute;
  display: flex;
}

.eligibility-calculator{
  width: 65%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  border-radius: 15px;
}

.eligibility-amount{
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000033;
  width: 35%;
  margin-left: 15px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  height: 375px;
  margin-top: 140px;
}

.eligibility-section-container{

}

.text-center{
  text-align: center;
}

.text-section span{
 font-size: 18px;
  color: #ffffff;
  line-height: 2;
}

.text-section p{
  font-size: 25px;
  color: #ffffff;
  margin: 0;
}


.c-light-grey{
  color: #00000033 !important;
}

#myRange{
  width: 100%;
  color: #663399;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /*border: 1px solid rgba(0,0,0,.125);*/
  border-bottom: none;
  border-radius: 15px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.card-header {
  padding: 1.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: none;
  background-color: #FCFCFF;
  color: #222222;
  font-size: 25px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 12px;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-bottom: none;
 /* border-top: 1px solid rgba(0,0,0,.125);*/
}


.slidecontainer {
  width: 100%;
  margin-bottom: 30px;
}

.slidecontainer span{
  font-size: 15px;
  color: #948c8c;
}

.slidecontainer p{
  margin: 0;
  font-size: 20px;
}

.font-size-15{
  font-size: 15px !important;
}

.form-control{
  color: #000000;
  font-size: 20px;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #663399;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #663399;
  cursor: pointer;
}


  /*checkbox*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}


input:checked + .slider {
  background-color: #663399;
}

input:focus + .slider {
  box-shadow: 0 0 1px #663399;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.form-control {
  border-radius: 0;
  border-bottom: 1px solid #ccd4da;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-control:focus{
  border-bottom: 1px solid #ccd4da;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.float-right{
  float: right;
}




@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*
* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}*/

h2 {
  position: absolute;
  top: 10px;
}

.range-container {
  position: relative;
}


.range-container span{
  font-size: 15px;
  color: #222222;
  line-height: 2;
}

.range-container p{
  margin: 0;
  font-size: 25px;
}
.ranger-value span{
  color: #00000033;
  font-size: 15px;
}

input[type="range"] {
  width: 100%;
  margin: 4px 0;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"] + label {
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 110px;
  width: 80px;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Chrome & Safari */
input[type="range"]::-webkit-slider-runnable-track {
  background: #663399;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #663399;
  margin-top: -7px;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: #663399;
  border-radius: 4px;
  width: 100%;
  height: 14px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #663399 ;
  margin-top: -7px;
  cursor: pointer;
}

/* IE */
input[type="range"]::-ms-track {
  background: #663399 ;
  border-radius: 4px;
  width: 100%;
  height: 14px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #663399 ;
  margin-top: -7px;
  cursor: pointer;
}
